{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0"/>
    <title>DIET DOCTOR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<!--navbar section-->
<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo">DIETD.</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="{% url 'diet:home' %}" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'diet:about' %}" class="navbar__links">About</a>
            </li>
            {% if user.is_authenticated %}
                <li class="navbar__item">
                    <a class="navbar__links" href="{% url 'diet:details' %}">
                    Details
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" href="{% url 'diet:logoutaccount' %}">
                    Logout ({{ user.username }})
                    </a>
                </li>
            {% else %}
                <li class="navbar__item">
                    <a href="{% url 'diet:signup' %}" class="navbar__links">Sign Up</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'diet:loginaccount' %}" class="navbar__links">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--Hero Section-->

<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h2>DETAILS </h2>
            <form class="main__form">
                <h2>{{ user.username }}</h2>
                <input type="text" id="bmi" name="bmi" value="BMI: {{ details_b.bmi }} Kg/m" class="main__field">
                <input type="text" id="bmr" name="bmr" value="BMR: {{ details_b.bmr }} Kcal/day" class="main__field">
                <input type="text" id="daily-calories" name="daily_calories"
                       value="Daily Calorie needs: {{ details_b.daily_calories }} Kcal/day" class="main__field">
                <input type="text" id="age" name="age" value="Age: {{ details_b.age }}" class="main__field">
                <input type="text" id="carb_grams" name="carb_grams"
                       value="Carb Gram: {{ details_c.carb_grams }} /day" class="main__field">
                <input type="text" id="protein_grams" name="protein_grams"
                       value="Protein Gram {{ details_c.protein_grams }} /day" class="main__field">
                <input type="text" id="fat_grams" name="fat_grams"
                       value="Fat Gram: {{ details_c.fat_grams }} /day" class="main__field">
                <button class="main__btn"><a href="{% url 'diet:details' %}">Update</a></button>
                <button class="main__btn"><a href="{% url 'diet:details' %}">Create diet</a></button>
            </form>
        </div>
        <div class="main__img--container">
            <img src="{% static 'images/b.jpg' %}" alt="img" id="main__img">
        </div>
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>