{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0"/>
    <title>DIET DOCTOR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</head>
<body>
<!--navbar section-->
<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo">DIETD.</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="{% url 'diet:home' %}" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'diet:about' %}" class="navbar__links">About</a>
            </li>
            {% if user.is_authenticated %}
                <li class="navbar__item">
                    <a class="navbar__links" href="{% url 'diet:details' %}">
                    Details
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" href="{% url 'diet:logoutaccount' %}">
                    Logout ({{ user.username }})
                    </a>
                </li>
            {% else %}
                <li class="navbar__item">
                    <a href="{% url 'diet:signup' %}" class="navbar__links">Sign Up</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'diet:loginaccount' %}" class="navbar__links">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--Hero Section-->

    <div class="main">
      <div class="main__container">
            <div class="main__content">
                <form class="main__form" action="{% url 'diet:create' %}">
                  <input type="text" class="main__field" name="search_food" placeholder="Search meals">
                  <button type="submit" class="main__btn"><span>Search</span></button>
<!--                    Searching for {{ searchTerm }}-->
                </form>
<!--                <p>Date:{{current_time}}</p>-->
<!--                <p>Today:{{ current_day}}</p>-->
                <h1>Meal Plan for Monday</h1>
                <form method="POST" class="main__form">
                    {% csrf_token %}
                    <input type="text" name="breakfast" placeholder="Breakfast" class="main__field">
                    <br>
                    <input type="text" name="lunch" placeholder="Lunch" class="main__field">
                    <br>
                    <input type="text" name="Snack" placeholder="Snack" class="main__field">
                    <br>
                    <input type="text" name="Dinner" placeholder="Dinner" class="main__field">
                    <br>
                     <button type="submit" class="main__btn"><span>Save</span></button>
                </form>
            </div>
      </div>
    </div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>